{% extends 'base.html' %}
{% load socialaccount %}
{% block title %} MusicApp - Detail {% endblock title %}
{% block header %}
    <style>
        .heart {
        font-size: 25px;
            color:red;
        }

    </style>
{% endblock header %}
{% block body %} 
<br>
{% if messages %}
    <ul class="messages" style="width: 600px;margin-left:400px">
        {% for message in messages %}
            <div class="alert alert-success">
              <strong>Success!</strong> {{message}}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
        {% endfor %}
    </ul>
{% endif %}
<br>
<hr>
<div class="container">
    <div class="card">
        <div class="container-fliud">
            <div class="wrapper row">
                <div class="preview col-md-6">
                    
                    <div class="preview-pic tab-content">
                      <div class="tab-pane active"><img src="{{songs.song_img.url}}" height="300" width="300"></div>
                    </div>
                    
                </div>
                <div class="details col-md-6">
                    <h3 class="product-title">{{songs.name}}</h3>
                    <h5>Album: {{songs.album}}</h5>
                    <h5>Singer: {{songs.singer}}</h5>
                    <h6>Release Year: {{songs.year}}</h6>
                    <audio controls>
                        <source src="{{ songs.song_file.url }}" type="audio/mpeg">
                    </audio>  
                      
                    <form method="post">
                    {% csrf_token %}
                        <button style="float: left;" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Create New Playlist</button>
                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">New Playlist</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                <div class="modal-body">
                                    <form>
                                        <div class="form-group">
                                            <label for="recipient-name" class="col-form-label">Name</label>
                                            <input type="text" class="form-control" id="recipient-name" name="playlist">
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="Submit" class="btn btn-primary">Create Playlist</button>
                                </div>
                                </div>
                            </div>
                        </div>

                        <select style="margin-left: 20px;" class="btn btn-primary" onChange="form.submit();" name="playlist">
                            <option selected="selected" disabled>Add to playlist</option>
                            {% if playlists %}
                                {% for playlist in playlists %}
                                    <option value={{playlist.playlist_name}}>{{playlist.playlist_name}}</option>
                                {% endfor %}
                            {% endif %}
                        </select>
                    </form>

                    <form method="post">
                        {% csrf_token %}
                        {% if is_favourite %}
                        <span class="d-flex align-items-center mt-2 ml-2">
                            <i class="heart fa fa-heart my-auto"></i>
                            <input style="margin-left: 10px;" type="submit" id="favbtn" class="btn btn-dark" name="rm-fav" value="Remove from Favorites">
                        </span>
                        {% else %}
                        <span class="d-flex align-items-center mt-2 ml-2">
                            <i class="heart fa fa-heart my-auto"></i>
                            <input style="margin-left: 10px;" type="submit" id="favbtn" class="btn btn-dark" name="add-fav" value="Add to Favorites">
                        </span>
                        {% endif %}    
                    </form>
                        
                            
                    <!-- </form> -->
                    <!-- <i style="margin-left: 10px;" class="heart fa fa-heart-o" name="favourite"></i> -->
                    
                        
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <br>
<br>
<br>
<br>
<br>
<div class="player">
    <div class="left"><img src="{{songs.song_img.url}}" height="80" width="80"></div>
    <div class="right">
       <div class="top">
          <a class="song" >{{songs.name}}</a>
          <a class="artist" >{{songs.album}}</a>
       </div>
       <div class="bottom">
          <video controls="" _autoplay="" name="media"><source src="{{songs.song_file.url}}" type="audio/mpeg"></video>
       </div>
    </div>
 </div> -->
{% endblock body %}

{% block js %} 
<script>
    // $(".heart.fa").click(function() {
    // $(this).toggleClass("fa-heart fa-heart-o");
    // });

    $("button").click(function() {
        $(".heart.fa").toggleClass("fa-heart fa-heart-o");
        // $(this).toggleClass("fa-heart fa-heart-o");
    });

    // $(document).ready(function(){
    //     $("button").click(function(){
    //         $("span.favbtn").toggleClass("fa-heart fa-heart-o");
    //     });
    // });


</script>
{% endblock js %}