{% extends 'base.html' %}
{% load socialaccount %}
{% block title %} MusicApp - Home {% endblock title %}

{% block body %} 

<style>
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 0px;
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 100px;
  background-color: #f5f5f5;
}
</style>

<br>
<div class="container">
  <div class="col-md-13">
    <form id="searchform" class="form-horizontal" role="search" method="get" action=''>
          <div class="form-group">
              <div class="input-group">
                  <input type="text" class="form-control input-lg " name="q" value="{{ request.GET.q }}" placeholder= "Search Songs "/>

                  <select name="languages" class="custom-select mx-2">
                    <option selected="selected" disabled>Languages</option>
                    {% if all_languages %}
                        {% for language in all_languages %}
                            <option value={{language}}>{{language}}</option>
                        {% endfor %}
                    {% endif %}
                  </select>
                  <select name="singers" class="custom-select mx-1">
                    <option selected="selected" disabled>Singers</option>
                    {% if all_singers %}
                        {% for singer in all_singers %}
                            <option value={{singer}}>{{singer}}</option>
                        {% endfor %}
                    {% endif %}
                  </select>
                                
                  <span class='input-group-btn'>
                    <button type="submit" class="btn btn-dark">Search</button>
                  </span>
              </div>
          </div>
      </form>
  </div>
</div>

<hr>

<div class="container">

  <header class="section-heading">
    <a href="{% url 'all_songs' %}" class="btn btn-dark float-right">View all</a>
    <h3 class="section-title">All Songs</h3>
  </header><!-- sect-heading -->
<hr>
<!-- Song list -->
<div class="row">
  {% if all_songs %}
  {% for song in all_songs %}
      <div class="col-md-3">
          <div class="thumbnail">
              <a href="{% url 'detail' song.id %}">
                  <img src="{{ song.song_img.url}}" class="img-responsive" height="200" width="200">
              </a>
              <!-- <h5>{{movie.genre}}</h5> -->
          </div>
      </div>
      {% endfor %}
      {% endif %}
</div>
</div>
<br>
{% if recent_songs %}

<div class="container">
  <header class="section-heading">
    <a href="{% url 'recent' %}" class="btn btn-dark float-right">View all</a>
    <h3 class="section-title">Recently viewed</h3>
  </header><!-- sect-heading -->
<hr>
<!-- Movie list -->
<div class="row">
  {% for song in recent_songs %}
      <div class="col-md-3">
          <div class="thumbnail">
              <a href="{% url 'detail' song.id %}">
                  <img src="{{ song.song_img.url}}" class="img-responsive" height="200" width="200">
              </a>
              <!-- <h5>{{movie.genre}}</h5> -->
          </div>
      </div>
      {% endfor %}
</div>
</div>
{% endif %}

<footer class="footer">
  <div class="player" style="background-color:#343a40!important">
    <div class="left"><img src="{{last_played.song_img.url}}" height="80" width="80"></div>
    <div class="right">
       <div class="top">
          <a class="song" >{{last_played.name}}</a>
          <a class="artist" >{{last_played.album}}</a>
       </div>
       <div class="bottom">
          <video controls="" _autoplay="" name="media"><source src="{{last_played.song_file.url}}" type="audio/mpeg" ></video>
       </div>
    </div>
  </div>
</footer>

{% endblock body %}