{% extends 'base.html' %}

{% block body %}
{% if question is None %}

<div class="container">
  <div class="jumbotron my-4">
    <h1> You have already answered all of our questions. </h1>
    
    <h1 class='my-4'>
        <a href="#" class="text-center btn btn-lg btn-dark"><i class="fa fa-trophy" aria-hidden="true"></i> Checkout leaderboard <i class="fa fa-trophy" aria-hidden="true"></i></a>
    </h1>
  </div>
</div>

{% else %}

<div class="container">
  <div class="jumbotron my-4">

    <h3 class="text-info">{{ question.html|safe }}</h3>
    <form class="form" action="" method="post">
        {% csrf_token %}
        <input type="hidden" name="question_pk" value="{{ question.pk }}">
        {% for choice in question.choices.all %}
          <div class="form-check mx-4">
            <input class="form-check-input" type="radio" name="choice_pk" id="choice-{{ forloop.counter }}" value="{{ choice.pk }}">
            <label class="form-check-label" for="choice-{{ forloop.counter }}">
              {{ choice.html|safe }}
            </label>
          </div>

        {% endfor %}
        <input class="btn btn-dark btn-lg" type="submit" value="Submit">  
    </form>
  </div>
</div>
{% endif %}

{% endblock body %}