{% extends 'base.html' %}
{% load static %}
{% load socialaccount %}
{% block title %} MusicApp - Detail {% endblock title %}
{% block header %}
    <!-- REQUIRED CSS Files
        NOTE: 
            - line-awesome library: Tried to change icons with font-awesome, but it wasn't looking good!
            - ionicons -- Used in styles.bundle.css, amplitude.min.js, so can't remove 
        1. static vendors.bundle.css
        2. static styles.bundle.css
        3. cdn line-awesome.min.css
        4. cdn ionicons.min.css
    -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/line-awesome@1.0.2/css/line-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/4.5.6/css/ionicons.min.css">
        
    <!-- REQUIRED -->
    <link href="{% static 'musicapp/css/vendors.bundle.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'musicapp/css/styles.bundle.css' %}" rel="stylesheet" type="text/css">

{% endblock header %}
{% block body %}
    <div class="container">
        <div class="card">
            <div class="container-fluid">
                <div class="wrapper row">
                    <div class="col-xl-3 col-lg-4 col-sm-5">
                        <img src="{{ songs.song_img.url }}" alt="" class="card-img--radius-lg" style="margin-top: 50px;">
                    </div>

                    <div class="details col-md-6">
                        <div class="col-xl-9 col-lg-8 col-sm-7">
                            <div class="row pt-4">
                                <div class="col-xl-8 col-lg-6" style="margin-top: 50px;">
                                    <h3 class="product-title">{{songs.name}}</h3>
                                    <h6>Album: {{songs.album}}</h6>
                                    <h6>Singer: {{songs.singer}}</h6>
                                    <h6>Release Year: {{songs.year}}</h6>
                                    
                                    <div class="mt-4">
                                        <a href="javascript:void(0);"
                                           class="btn btn-pill btn-air btn-bold btn-danger"
                                           id="play-pause"
                                           data-audio='{"name": "{{songs.name}}", "artist": "{{songs.singer}}", 
                                           "album": "{{songs.album}}", "url": "{{ songs.song_file.url }}", "cover_art_url": ""}'>
                                            Play
                                        </a>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-6">
                                    <div class="pt-3 pt-lg-0 text-lg-right">
                                        
                                        <button class="btn btn-pill btn-air btn-danger btn-icon-only" id="btn-favorite" data-decision="make" data-url="/songs/make-favorite" data-song-id="2" data-user="varad@gmail.com">
                                            
                                                <i class="fa fa-heart-o"></i>
                                            
                                        </button>
                                        <button class="btn btn-pill btn-air btn-warning btn-icon-only" id="btn-playlist">
                                            <i class="fa fa-plus"></i>
                                        </button>
                                        <a class="btn btn-pill btn-air btn-success btn-icon-only" href="#">
                                            <i class="fa fa-download" style="margin-top: 10px; color: #fff"></i>
                                        </a>
                                        <button class="btn btn-pill btn-air btn-brand btn-icon-only" data-toggle="modal" data-target="#shareModal">
                                            <i class="fa fa-share-alt"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

              
            </div>

            <!-- NOTE: waveform section is necessary to sync Play button given on outside! -->
            <!-- TODO: think of way to remove this -->
            <div class="section" style="visibility: hidden;">
                <div id="waveform-load"></div>
                <div id="waveform"></div>
            </div>


            <div id="audioPlayer" class="player-primary">
                <div id="progress-container">
                    <input type="range" class="amplitude-song-slider">
                    <progress id="song-played-progress" class="audio-progress audio-progress--played amplitude-song-played-progress"></progress>
                    <progress id="song-buffered-progress" class="audio-progress audio-progress--buffered amplitude-buffered-progress"></progress>
                </div>
                <div class="audio">
                    <div class="song-image">
                        <img data-amplitude-song-info="cover_art_url" src="{{songs.song_img.file}}" alt="">
                    </div>
                    <div class="song-info pl-3">
                        <span class="song-name d-inline-block text-truncate" data-amplitude-song-info="name">{{songs.name}}</span>
                        <span class="song-artists d-block text-muted" data-amplitude-song-info="artist">{{songs.singer}}</span>
                    </div>
                </div>
                <div class="audio-controls">
                    <div class="audio-controls--left d-flex mr-auto">
                        <button class="btn btn-icon-only amplitude-repeat">
                            <i class="ion-md-sync"></i>
                        </button>
                    </div>
                    <div class="audio-controls--main d-flex">
                        <!-- TODO: Audio fast backward -->
                        <button class="btn btn-icon-only amplitude-prev">
                            <i class="ion-md-skip-backward"></i>
                        </button>
                        <button class="btn btn-air btn-pill btn-default btn-icon-only amplitude-play-pause">
                            <i class="ion-md-play"></i> <i class="ion-md-pause"></i>
                            <!-- <i class="fa-play"></i> <i class="fa-pause"></i> -->
                        </button>

                        <!-- TODO: Audio fast forward -->
                        <button class="btn btn-icon-only amplitude-next">
                            <i class="ion-md-skip-forward"></i>
                            <!-- <i class="ios-fastforward"></i> -->
                        </button>
                    </div>
                    <div class="audio-controls--right d-flex ml-auto">
                        <button class="btn btn-icon-only amplitude-shuffle amplitude-shuffle-off">
                            <i class="ion-md-shuffle"></i>
                        </button>
                    </div>
                </div>
                <div class="audio-info d-flex align-items-center pr-4">
                    <span class="mr-4">
                        <span class="amplitude-current-minutes"></span>:<span class="amplitude-current-seconds"></span> /
                        <span class="amplitude-duration-minutes"></span>:<span class="amplitude-duration-seconds"></span>
                    </span>
                    <div class="audio-volume dropdown">
                        <button class="btn btn-icon-only" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="ion-md-volume-low"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right volume-dropdown-menu">
                            <input type="range" class="amplitude-volume-slider">
                        </div>
                    </div>
                    <div class="dropleft">
                        <button class="btn btn-icon-only" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="la la-ellipsis-v"></i></button>
                        <ul class="dropdown-menu">
                            <li class="dropdown-item">
                                <a href="javascript:void(0);" class="dropdown-link">
                                    <i class="la la-heart-o"></i>
                                    <span>Favorite</span>
                                </a>
                            </li>
                            <li class="dropdown-item">
                                <a href="javascript:void(0);" class="dropdown-link">
                                    <i class="fa fa-plus"></i> <span>Add to Playlist</span>
                                </a>
                            </li>
                            <li class="dropdown-item">
                                <a href="javascript:void(0);" class="dropdown-link">
                                    <i class="la la-download"></i> <span>Download</span>
                                </a>
                            </li>
                            <li class="dropdown-item">
                                <a href="javascript:void(0);" class="dropdown-link">
                                    <i class="la la-share-alt"></i> <span>Share</span>
                                </a>
                            </li>
                            <li class="dropdown-item">
                                <a href="#" class="dropdown-link">
                                    <i class="la la-info-circle"></i> <span>Song Info</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            
                    </div>
            
        </div>
    </div>
{% endblock body %}

{% block js %}
<!-- REQUIRED JAVASCRIPT FILES
    1. amplitude.min.js (cdn)
    2. wavesurfer.min.js (static)
-->
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/amplitudejs@5.0.2/dist/amplitude.min.js"></script>
<script type="text/javascript" src="{% static 'musicapp/js/wavesurfer.min.js' %}"></script>

<script type="text/javascript">
    
    // let audio = document.getElementById('play-pause');
    let audio = new Audio('{{ songs.song_file.url }}');
    let isPaused = audio.paused;
    let isPlaying = !isPaused;

    console.log('Check if audio is paused: ', isPaused);
    console.log('Check if audio is playing: ', isPlaying);
    // control the audio
    // audio.pause();
    // audio.play();

    // audio.volume = 1; //100%
    // audio.volume = 0.5; //50%

    //currentTime
    // audio.CurrentTime;

    //rewind
    // myAudio.currentTime = 0;
    // myAudio.play();

    //fast forward
    // myAudio.currentTime = 30;
    // myAudio.play();

    // duration
    // audio.duration;

    // important audio events
    audio.addEventListener('play', function(ev){
        console.log("audio started playing");
    });

    audio.addEventListener('pause', function(ev){
        console.log("audio paused. Do you want to change track");
    });

    audio.addEventListener('ended', function(ev){
        console.log("audio Ended"); 
     // ask user about re-playing the same song & other operations
    });

    // time backward forward
    audio.addEventListener('timeupdate', function(ev){
        console.log("Current time", this.currentTime);
    });

    audio.addEventListener('volumechange', function(ev){
        let currentVolume = this.volume;
        console.log("Current Volume", currentVolume)
        // if(currentVolume > .75) {
        //  alert("Over Sound may damage your ears");
        //  }
    });

    $(function () {
    // var audio = document.getElementById('audio-player');
    var intervalo;
    // $('.btn-forward').mousedown(function () {
    //     audio.pause();
    //     intervalo = setInterval(function () {
    //         audio.currentTime += 10;
    //     }, 200);
    // }).mouseup(function () {
    //     clearInterval(intervalo);
    //     audio.play();
    // });

    $('.btn-forward').click(function () {
        // audio.pause();
        
        audio.currentTime += 3;
        
        // clearInterval(intervalo);
        // audio.play();
    });

    // $('.btn-backward').mousedown(function () {
    //     intervalo = setInterval(function () {
    //         audio.pause();
    //         audio.currentTime -= 10;
    //     }, 200);
    // }).mouseup(function () {
    //     clearInterval(intervalo);
    //     audio.play();
    // });

    $('.btn-backward').click(function () {
       
      audio.currentTime -= 3;
       
    });

});
  </script>

<script type="text/javascript">

        // let favorite_btn = $('#btn-favorite');

        // favorite_btn.on('click', function () {
        //     let user = $(this).data('user');

        //     if (user) {

        //         let song_id = $(this).data('song-id');
        //         let decision = $(this).data('decision');

        //         $.ajaxSetup({
        //             headers: {
        //                 'X-CSRFToken': csrfmiddlewaretoken
        //             }
        //         });

        //         $.ajax({
        //             type: 'POST',
        //             url: $(this).data('url'),
        //             data: {
        //                 song_id,
        //                 decision,
        //             },
        //             dataType: 'json',
        //             success: function (res) {
        //                 if (res.status === true) {
        //                     if (decision === 'make') {
        //                         favorite_btn.attr('data-decision', 'remove');
        //                         favorite_btn.find('i.la-heart-o').removeClass('la-heart-o').addClass('la-heart');
        //                     } else {
        //                         favorite_btn.attr('data-decision', 'make');
        //                         favorite_btn.find('i.la-heart').removeClass('la-heart').addClass('la-heart-o');
        //                     }
        //                     toastr.options = {
        //                         "positionClass": "toast-bottom-right",
        //                     };
        //                     toastr.success(res.message);
        //                 }
        //             },
        //             error: function (err) {
        //                 console.log(err);
        //             }
        //         });
        //     } else {
        //         toastr.options = {
        //             "positionClass": "toast-bottom-right",
        //         };
        //         toastr.warning('Please login to continue');
        //     }
        // });
        
        Amplitude.init({
            "songs": [{
                name: "{{songs.name}}",
                artist: "{{songs.singer}}",
                album: "{{songs.album}}",
                url: "{{ songs.song_file.url }}",
                cover_art_url: "{{ songs.song_img.url }}"
            }],
            "bindings": {
                32: 'play_pause'
            },
            "callbacks": {
                'play': function () {
                    wavesurfer.play();
                    wavesurfer.setCurrentTime(Amplitude.getSongPlayedSeconds());
                },
                'timeupdate': function () {
                    wavesurfer.setCurrentTime(Amplitude.getSongPlayedSeconds());
                },
                'seeked': function () {
                    wavesurfer.setCurrentTime(Amplitude.getSongPlayedSeconds());
                },
                'pause': function () {
                    wavesurfer.setCurrentTime(Amplitude.getSongPlayedSeconds());
                    wavesurfer.pause();
                }
            }
        });

        window.onkeydown = function (e) {
            return !(e.keyCode === 32);
        };

        document.getElementById('song-played-progress').addEventListener('click', function (e) {
            let offset = this.getBoundingClientRect();
            let x = e.pageX - offset.left;

            Amplitude.setSongPlayedPercentage((parseFloat(x) / parseFloat(this.offsetWidth)) * 100);
        });

        let wavesurfer = WaveSurfer.create({
            container: '#waveform',
            waveColor: '#733ce6',
            progressColor: '#bfbfbf',
            height: 150,
            scrollParent: false,
            responsive: true,
        });

        // wavesurfer.on('loading', function (integer) {
        //     $('#waveform-load').html("Generating waves.. (" + integer + '%)');
        // });

        wavesurfer.on('ready', function (percents) {
            wavesurfer.setVolume(0);
            $('#waveform-load').empty();
        });

        $("a[data-audio]").on("click", function () {
            $('#audioPlayer').css('visibility', 'visible');
            if ($(this).text().trim() === 'Play') {
                $('.amplitude-play-pause').addClass('amplitude-playing').removeClass('amplitude-paused');
                $(this).text('Pause');
            } else {
                $('.amplitude-play-pause').removeClass('amplitude-playing').addClass('amplitude-paused');
                $(this).text('Play');
            }

            if ($('.amplitude-play-pause').hasClass('amplitude-playing')) {
                Amplitude.play();
            } else {
                Amplitude.pause();
            }
        });

        wavesurfer.on('seek', function (seeks) {
        });

        wavesurfer.load('{{ songs.song_file.url }}');

        $('.amplitude-play-pause').on('click', function () {
            if ($(this).hasClass('amplitude-playing')) {
                Amplitude.play();
                $('#play-pause').text('Pause');
            } else {
                Amplitude.pause();
                $('#play-pause').text('Play');
            }
        });

        let volumeIconClick = function () {

            $(document).on("click", ".volume-dropdown-menu", function (s) {
                s.stopPropagation();
            });

            let s = $('.audio-volume input[type="range"]'), t = $(".audio-volume .btn");
            s.on("change", function () {
                let s = $(this), e = parseInt(s.val(), 10);
                0 === e ? t.html('<i class="ion-md-volume-mute"></i>') : e > 0 && e < 70 ? t.html('<i class="ion-md-volume-low"></i>') : e > 70 && t.html('<i class="ion-md-volume-high"></i>')
            })
        };

        volumeIconClick();
    </script>

{% endblock js %}