

<div id="audioPlayer" class="player-primary" style="visibility: visible;">
    <div id="progress-container">
        <input type="range" class="amplitude-song-slider">
        <progress id="song-played-progress" class="audio-progress audio-progress--played amplitude-song-played-progress" value="0.16043427647691885"></progress>
        <progress id="song-buffered-progress" class="audio-progress audio-progress--buffered amplitude-buffered-progress" value="1"></progress>
    </div>
    <div class="audio">
        <div class="song-image">
            <img data-amplitude-song-info="cover_art_url" src="/media/thumbnails/sochnasake.jpeg" alt="">
        </div>
        <div class="song-info pl-3">
            <span class="song-name d-inline-block text-truncate" data-amplitude-song-info="name">01_-_Soch_Na_Sake_Duet-MyMp3Singer.com.mp3</span>
            <span class="song-artists d-block text-muted" data-amplitude-song-info="artist">Arebica Luna</span>
        </div>
    </div>
    <div class="audio-controls">
        <div class="audio-controls--left d-flex mr-auto">
            <button class="btn btn-icon-only amplitude-repeat amplitude-repeat-off">
                <i class="ion-md-sync"></i>
            </button>
        </div>
        <div class="audio-controls--main d-flex">
            <button class="btn btn-icon-only amplitude-prev">
                <i class="ion-md-skip-backward"></i>
            </button>
            <button class="btn btn-air btn-pill btn-default btn-icon-only amplitude-play-pause amplitude-paused">
                <i class="ion-md-play"></i> <i class="ion-md-pause"></i>
            </button>
            <button class="btn btn-icon-only amplitude-next">
                <i class="ion-md-skip-forward"></i>
            </button>
        </div>
        <div class="audio-controls--right d-flex ml-auto">
            <button class="btn btn-icon-only amplitude-shuffle amplitude-shuffle-off">
                <i class="ion-md-shuffle"></i>
            </button>
        </div>
    </div>
    <div class="audio-info d-flex align-items-center pr-4">
        <span class="mr-4">
            <span class="amplitude-current-minutes">00</span>:<span class="amplitude-current-seconds">44</span> /
            <span class="amplitude-duration-minutes">04</span>:<span class="amplitude-duration-seconds">40</span>
        </span>
        <div class="audio-volume dropdown">
            <button class="btn btn-icon-only" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="ion-md-volume-low"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right volume-dropdown-menu">
                <input type="range" class="amplitude-volume-slider">
            </div>
        </div>
        <div class="dropleft">
            <button class="btn btn-icon-only" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="la la-ellipsis-v"></i></button>
            <ul class="dropdown-menu">
                <li class="dropdown-item">
                    <a href="javascript:void(0);" class="dropdown-link">
                        <i class="la la-heart-o"></i>
                        <span>Favorite</span>
                    </a>
                </li>
                <li class="dropdown-item">
                    <a href="javascript:void(0);" class="dropdown-link">
                        <i class="la la-plus"></i> <span>Add to Playlist</span>
                    </a>
                </li>
                <li class="dropdown-item">
                    <a href="javascript:void(0);" class="dropdown-link">
                        <i class="la la-download"></i> <span>Download</span>
                    </a>
                </li>
                <li class="dropdown-item">
                    <a href="javascript:void(0);" class="dropdown-link">
                        <i class="la la-share-alt"></i> <span>Share</span>
                    </a>
                </li>
                <li class="dropdown-item">
                    <a href="#" class="dropdown-link">
                        <i class="la la-info-circle"></i> <span>Song Info</span>
                    </a>
                </li>
            </ul>
        </div>
        <button class="btn btn-icon-only" id="playList"><i class="ion-md-musical-note"></i></button>
    </div>
</div>